/* Form containers */
.mktoForm {
    margin: 0 auto;
    width: 595px !important; /* 565px base + padding */
    max-width: 100%;
}

.mktoForm .mktoFormRow {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.mktoForm .mktoFormRow {
    clear: none;
}

.mktoButtonRow {
    display: block;
    clear: both;
}

.mktoForm .mktoOffset {
    display: none;
}

.mktoFormCol {
    width: 100%;
}

.mktoForm .mktoFieldWrap {
    float: none;
}

/* Form label */
.mktoForm label.mktoLabel {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 3px;
    color: #595655;
    display: block;
    width: 100% !important; /* override inline styles */
}

.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: normal !important; /* override for Edge */
}

.mktoForm.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
    display: none;
}

/* Form input */
.mktoForm.mktoLayoutAbove .mktoField:not([type="checkbox"]) {
    width: 100% !important; /* override inline styles */
    color: #848280;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #c9c9c9;
}

.mktoForm.mktoLayoutAbove .mktoField:not(textarea):not([type="checkbox"]) {
    height: 40px;
}

.mktoForm.mktoLayoutAbove .mktoField:hover,
.mktoForm.mktoLayoutAbove .mktoField:focus,
.mktoForm.mktoLayoutAbove .mktoLogicalField:hover,
.mktoForm.mktoLayoutAbove .mktoLogicalField:focus {
    border-color:#7EC4C1;
    outline: none;
}

/* From button */
.mktoForm .mktoButtonRow {
    padding-top: 25px;
}

.mktoButtonWrap.mktoSimple {
    margin-left: 15px !important;
    margin-right: 15px !important;
    text-align: right;
    display: block;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    min-width: 120px !important;
    height: 55px !important;
    line-height: 55px !important;
    background: #7EC4C1 !important;
    border: none !important;
    color: #fff;
    /* Text: Open Sans Regular */
    font-size: 18px !important;
    padding: 0 15px !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus {
    background: #448E87 !important;
}

/* Form input error */
.mktoForm.mktoLayoutAbove .mktoInvalid,
.mktoForm.mktoLayoutAbove .mktoInvalid:hover,
.mktoForm.mktoLayoutAbove .mktoInvalid:focus {
    border-color:#00384C;
}

.mktoForm .mktoError {
    width: auto !important;
    box-shadow: none;
    right: auto !important;
    bottom: auto !important;
    top: 100% !important;
    left: 0 !important;
}

.mktoForm .mktoError .mktoErrorArrow {
    display: none;
}

.mktoForm .mktoError .mktoErrorMsg,
.mktoForm .mktoError .mktoErrorMsg:before {
    background: #00384C;
}

.mktoForm .mktoError .mktoErrorMsg {
    z-index: 0;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    box-shadow: none;
    position: relative;
    padding: 0.7em 0.5em;
}

.mktoForm .mktoError .mktoErrorMsg:before {
    content: '';
    z-index: -1;
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: 0;
    transform: rotate(45deg) translateY(-50%);
}

@media (min-width: 550px) {

    .mktoForm .mktoFormRow {
        float: left;
        width: 50%;
    }

}