/* change row padding */
.mktoForm .mktoFormRow,
.mktoForm .mktoButtonRow {
    padding-left: 7px;
    padding-right: 7px;
}

/* submit button */
.mktoForm .mktoButtonRow {
    padding-top: 10px;
    box-sizing: border-box;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    height: 40px !important;
    line-height: 40px !important;
    font-size: 16px !important;
}

.mktoButtonWrap.mktoSimple {
    margin: 0 !important;
    text-align: left;
}

/* hidden fields */
.mktoFormRow:nth-of-type(3),
.mktoFormRow:nth-of-type(4),
.mktoFormRow:nth-of-type(5) {
    display: none;
}

/* styles are loading in a different order in IE11, this fixes the broken columns */
.mktoForm .mktoFormRow { 
    clear: none !important;
}

@media (min-width: 550px) {

    .mktoForm .mktoFormRow,
    .mktoForm .mktoButtonRow {
        float: left;
        width: 33%;
    }

    .mktoForm .mktoButtonRow {
        clear: none;
        padding-top: 25px;
    }
    
}