/* form */
.mktoForm {
    width: 100% !important;
    padding: 0;
}

.mktoForm:after { 
    content: '';
    clear: both;
    display: table;
}

/* all fields */
.mktoForm.mktoLayoutAbove .mktoField:not(textarea):not([type="checkbox"]) {
    height: 55px; /* same as button */
}

/* hidden fields */
.mktoFormRow:nth-of-type(2),
.mktoFormRow:nth-of-type(3),
.mktoFormRow:nth-of-type(4) {
    display: none;
}

/* email field */
.mktoFormRow:nth-of-type(1) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: left;
}

/* button */
.mktoForm .mktoButtonRow {
    padding-top: 0;
    clear: none;
}

.mktoButtonWrap.mktoSimple {
    margin: 0 !important;
}

@media (min-width: 400px) {
    .mktoForm {
        width: 500px !important;
    }

    .mktoFormRow:nth-of-type(1) {
        width: calc(100% - 136px);
        padding-right: 15px;
    }

    .mktoForm .mktoButtonRow {
        padding-top: 25px;
        width: 136px;
        float: left;
    }
}