/* form container */
.mktoForm {
    padding-left: 10px;
    padding-right: 30px;
    width: 690px !important;
}

/* full width textearea */
.mktoForm .mktoFormRow {
    width: 100%;
    clear: both;
}
