/* full width textearea */
.mktoForm .mktoFormRow {
    width: 100%;
    clear: both;
}

/* 
 * Checkbox 
*/

/* container */
.mktoFormRow:nth-of-type(1) .mktoFieldWrap {
    position: relative;
}

/* label */
.mktoFormRow:nth-of-type(1) label.mktoLabel {
    float: none;
    margin: 0;
    padding-left: calc(13px + 12px);
    display: inline-block;
    width: auto !important;
    cursor: pointer;
}

/* box wrapper */
.mktoFormRow:nth-of-type(1) .mktoCheckboxList {
    width: 13px !important;
    display: inline-block;
    padding: 0;
    clear: none;
    position: absolute;
    top: calc(0.3em + 0.3em); /* 0.3em from label's padding-top and 0.3em to center it wtih text*/
    left: 0;
}

/* box */
.mktoFormRow:nth-of-type(1) .mktoCheckboxList > input {
    clear: none;
    float: none;
    display: block;
    cursor: pointer;
}

/* box label */
.mktoFormRow:nth-of-type(1) .mktoCheckboxList > label {
    display: none;
}