/* form container */
.mktoForm {
    width: 700px !important;
}

/* full width textearea */
.mktoFormRow:nth-of-type(1),
.mktoFormRow:nth-of-type(6) {
    width: 100%;
    clear: both;
}

/* full width titles */
.mktoFormRow:nth-of-type(1) .mktoHtmlText,
.mktoFormRow:nth-of-type(6) .mktoHtmlText {
    width: auto !important;
}

.mktoFormRow:nth-of-type(1) h2,
.mktoFormRow:nth-of-type(6) h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #595555;
    padding-left: 0;
    margin: 20px 0;
}

.mktoFormRow:nth-of-type(1) h2 {
    margin-top: 0;
}

.mktoFormRow:nth-of-type(6) h2 {
    margin-top: 40px;
}