/* label */
.mktoForm label.mktoLabel {
    color: #fff;
}

/*
 * Fix Edge Issue
 * stylesheets load in the wrong order so we need overrides :/ -M
*/
.mktoForm .mktoFormRow {
    clear: none !important;
}

.mktoForm .mktoFieldWrap {
    float: none !important;
}