/* form container */
.mktoForm {
    width: 740px !important;
}

/* full width textearea */
.mktoFormRow:nth-of-type(1),
.mktoFormRow:nth-of-type(5),
.mktoFormRow:nth-of-type(6),
.mktoFormRow:nth-of-type(12) {
    width: 100%;
    clear: both;
}

/* full width titles */
.mktoFormRow:nth-of-type(1) .mktoHtmlText,
.mktoFormRow:nth-of-type(6) .mktoHtmlText,
.mktoFormRow:nth-of-type(12) .mktoHtmlText {
    width: auto !important;
}

.mktoFormRow:nth-of-type(1) h2,
.mktoFormRow:nth-of-type(6) h2,
.mktoFormRow:nth-of-type(12) h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #595555;
    padding-left: 0;
    margin: 40px 0 20px;
}

.mktoFormRow:nth-of-type(1) h2 {
    margin-top: 0;
}

/* 
 * Checkbox 
*/

/* container */
.mktoFormRow:nth-of-type(4) .mktoFieldWrap {
    position: relative;
}

/* label */
.mktoFormRow:nth-of-type(4) label.mktoLabel {
    float: none;
    margin: 0;
    padding-left: calc(13px + 12px);
    display: inline-block;
    width: auto !important;
    cursor: pointer;
}

/* box wrapper */
.mktoFormRow:nth-of-type(4) .mktoCheckboxList {
    width: 13px !important;
    display: inline-block;
    padding: 0;
    clear: none;
    position: absolute;
    top: calc(0.3em + 0.3em); /* 0.3em from label's padding-top and 0.3em to center it wtih text*/
    left: 0;
}

/* box */
.mktoFormRow:nth-of-type(4) .mktoCheckboxList > input {
    clear: none;
    float: none;
    display: block;
    cursor: pointer;
}

/* box label */
.mktoFormRow:nth-of-type(4) .mktoCheckboxList > label {
    display: none;
}