/* override custom.css */
@media (min-width: 550px) {

    .mktoForm .mktoFormRow {
        float: none;
        width: auto;
    }
    
}

/* disabling marketo things */
.mktoForm .mktoGutter {
    display: none;
}

/* hide non-visible form field containers */
.mktoFormRow:nth-child(10) {
    display: none;
}

/* 
 * Checkboxes
*/

/* container */
.mktoFormRow:nth-of-type(2) .mktoFieldWrap,
.mktoFormRow:nth-of-type(3) .mktoFieldWrap,
.mktoFormRow:nth-of-type(4) .mktoFieldWrap,
.mktoFormRow:nth-of-type(5) .mktoFieldWrap,
.mktoFormRow:nth-of-type(7) .mktoFieldWrap {
    position: relative;
}

/* label */
.mktoFormRow:nth-of-type(2) label.mktoLabel,
.mktoFormRow:nth-of-type(3) label.mktoLabel,
.mktoFormRow:nth-of-type(4) label.mktoLabel,
.mktoFormRow:nth-of-type(5) label.mktoLabel,
.mktoFormRow:nth-of-type(7) label.mktoLabel {
    float: none;
    margin: 0;
    padding-left: calc(13px + 12px);
    display: inline-block;
    width: auto !important;
    cursor: pointer;
}

/* box wrapper */
.mktoFormRow:nth-of-type(2) .mktoCheckboxList,
.mktoFormRow:nth-of-type(3) .mktoCheckboxList,
.mktoFormRow:nth-of-type(4) .mktoCheckboxList,
.mktoFormRow:nth-of-type(5) .mktoCheckboxList,
.mktoFormRow:nth-of-type(7) .mktoCheckboxList {
    width: 13px !important;
    display: inline-block;
    padding: 0;
    clear: none;
    position: absolute;
    top: calc(0.3em + 0.3em); /* 0.3em from label's padding-top and 0.3em to center it wtih text*/
    left: 0;
}

/* box */
.mktoFormRow:nth-of-type(2) .mktoCheckboxList > input,
.mktoFormRow:nth-of-type(3) .mktoCheckboxList > input,
.mktoFormRow:nth-of-type(4) .mktoCheckboxList > input,
.mktoFormRow:nth-of-type(5) .mktoCheckboxList > input,
.mktoFormRow:nth-of-type(7) .mktoCheckboxList > input {
    clear: none;
    float: none;
    display: block;
    cursor: pointer;
}

/* box label */
.mktoFormRow:nth-of-type(2) .mktoCheckboxList > label,
.mktoFormRow:nth-of-type(3) .mktoCheckboxList > label,
.mktoFormRow:nth-of-type(4) .mktoCheckboxList > label,
.mktoFormRow:nth-of-type(5) .mktoCheckboxList > label,
.mktoFormRow:nth-of-type(7) .mktoCheckboxList > label {
    display: none;
}