/* override custom.css */
@media (min-width: 550px) {

    .mktoForm .mktoFormRow {
        float: none;
        width: auto;
    }
    
}

/* 
 * Parallel button & field
 */

/* form */
.mktoForm {
    width: 100% !important;
    padding: 0;
}

.mktoForm:after { 
    content: '';
    clear: both;
    display: table;
}

/* all fields */
.mktoForm.mktoLayoutAbove .mktoField:not(textarea):not([type="checkbox"]) {
    height: 55px; /* same as button */
}

/* hidden fields */
.mktoFormRow:nth-of-type(3),
.mktoFormRow:nth-of-type(4),
.mktoFormRow:nth-of-type(5) {
    display: none;
}

/* email field */
.mktoFormRow:nth-of-type(2) {
    width: 100%;
    float: left;
}

/* button */
.mktoForm .mktoButtonRow {
    padding: 0 15px 0;
    clear: none;
}

.mktoButtonWrap.mktoSimple {
    margin: 0 !important;
}

@media (min-width: 400px) {
    .mktoForm {
        width: 500px !important;
    }

    .mktoFormRow:nth-of-type(2) {
        width: calc(100% - 136px);
        padding-right: 15px;
    }

    .mktoForm .mktoButtonRow {
        padding: 25px 0 0;
        width: 136px;
        float: left;
    }
}

/* 
 * Checkboxes
*/

/* container */
.mktoFormRow:nth-of-type(1) .mktoFieldWrap {
    position: relative;
}

/* label */
.mktoFormRow:nth-of-type(1) label.mktoLabel {
    float: none;
    margin: 0;
    padding-left: calc(13px + 12px);
    display: inline-block;
    width: auto !important;
    cursor: pointer;
}

/* box wrapper */
.mktoFormRow:nth-of-type(1) .mktoCheckboxList {
    width: 13px !important;
    display: inline-block;
    padding: 0;
    clear: none;
    position: absolute;
    top: calc(0.3em + 0.3em); /* 0.3em from label's padding-top and 0.3em to center it wtih text*/
    left: 0;
}

/* box */
.mktoFormRow:nth-of-type(1) .mktoCheckboxList > input {
    clear: none;
    float: none;
    display: block;
    cursor: pointer;
}

/* box label */
.mktoFormRow:nth-of-type(1) .mktoCheckboxList > label {
    display: none;
}