/* full width textearea */
.mktoForm .mktoFormRow {
    width: 100%;
    clear: both;
}

/* Form Fixes for the landing page "WBC 2018-11 Reduce Win10 Disruption" */
.mktoButtonWrap.mktoSimple {
    display: block;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    width: 100% !important;
    background: #F9A94D !important;
}
    
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus {
    background: #c87129 !important;
}